{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="sidebar">
    <h1>Dashboard</h1>
    <div class="side-menu">
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'createblog' %}">Add Blog</a></li>
        
        <li><a href="{% url 'createpratice' %}">Add Pratice</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Teams</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>

{% endblock %}