<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOLLOW ME</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                Thouseef pa
            </div>
            <div class="menu">
                <ul>
                    <li><a href="myblog.html">My blog</a></li>
                    <li><a href="">My project</a></li>
                    <li><a href="">Pratice</a></li>
                    <li><a href="">My stroy</a></li>
                    <li><a href="">Follow me</a></li>
                </ul>

            </div>
            <div class="auth">
                <div class="btn">
                    <a href="">
                        <button type="submit">Login</button>

                    </a>
                    <a href="">
                        <button type="submit">Logout</button>
                    </a>
                    <a href="">
                        <button type="submit">Register</button>
                    </a>

                </div>
                <div class="profile">
                    <img src="img/girl-1871104_1280 (1).jpg" alt="">
                </div>

            </div>
        </nav>

    </header>
    <div class="myblog">
        <header class="heading">
            <h1>SOCIAL MEDIA</h1>
        </header>

        <div class="imgblog">
            <img src="img/social-media-1768451_1280.png" alt="Social media" />

        </div>

        <section class="card">
            <article class="imgcard">
                <img src="img/1298738_facebook_brand_fb_logo_social media_icon.png" alt="FB" />
                <p>FACEBOOK</p>
                <div class="btnblog">
                    <a href="#">
                        <button type="submit">FOLLOW ME</button>
                    </a>

                </div>
            </article>

            <article class="imgcard">
                <img src="img/1298747_instagram_brand_logo_social media_icon.png" alt="Munnar Trip" />
                <p>INSTA</p>
                <div class="btnblog">
                    <a href="#">
                        <button type="submit">FOLLOW ME</button>
                    </a>
                </div>
            </article>
            <article class="imgcard">
                <img src="img/5296501_linkedin_network_linkedin logo_icon.png" alt="Munnar Trip" />
                <p>LINKEDIN</p>
                <div class="btnblog">
                    <a href="#">
                        <button type="submit">FOLLOW ME</button>
                    </a>
                </div>
            </article>
        </section>



    <footer>
        <p>&copy; 2025 Thouseef PA. All rights reserved.</p>
    </footer>
</body>

</html>